{# templates/dashboard/dashboard.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord Moodle</title>
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
</head>
<body>

{# Include a header file if needed #}
{% include 'header.html.twig' %}

<div class="dashboard-container">
    <h1>Tableau de bord</h1>

    <div class="sections">
        <div class="section">
            <h2>Cours disponibles</h2>
            <ul id="recent-courses">
                {% for cour in cours %}
                    <li><a href="/cours/{{cour.code}}" style="text-decoration : none; color: black">{{ cour.nom }} - {{ cour.code }}</a></li>
                {% else %}
                    <li>Aucun cours a afficher.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h2>Messages récents</h2>
            <div class="messages">
                {% for cour in cours %}
                    <div class="course-messages">
                        {% if messages[cour.code] is not empty %}
                            <ul>
                                {% for message in messages[cour.code] %}
                                    <li>
                                        <a href="/cours/{{ cour.code }}" style="text-decoration : none; color: black">
                                            {% if message.important %}
                                                <span class="text-warning">⚠️</span>
                                            {% endif %}
                                            <strong>{{ cour.code }} - {{ message.title }} - </strong>
                                            {{ message.timestamp|date('d/m/Y H:i') }}<br>
                                            {{ message.content|slice(0, 100) }}...
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Aucun message récent.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>

    <div class="calendar-container">
        <div class="calendar-header">
            <h2>Calendrier - <span id="current-date"></span></h2>
        </div>
        <div id="calendar"></div>
    </div>
</div>

<script src="{{ asset('scripts/index.js') }}"></script>
</body>
</html>
