{% include 'header.html.twig' %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mes cours</title>
    <link rel="stylesheet" href="{{ asset('styles/mes_cours.css') }}">
</head>
<body>
<div class="conteneur">
    <p id="mes_cours">Mes cours</p>
    <p id="vue">Vue d'ensemble des cours</p>
    <div class="c_cours">
        {% for cours in cours_list %}
            <div class="cours">
                <a href="{{ path('cours_par_code', { code: cours.code }) }}">
                    {# Vérification si l'image existe pour le cours, sinon affichage de l'image par défaut #}
                    <img src="{{ cours.image ? asset('uploads/files/' ~ cours.image) : 'https://www.pokepedia.fr/images/thumb/3/31/Lugulabre_de_Chammal.png/300px-Lugulabre_de_Chammal.png' }}" alt="Image de {{ cours.code }}">
                </a>
                <div class="desc">
                    <a class="uv_description" href="{{ path('cours_par_code', { code: cours.code }) }}">
                        {{ cours.code }} - {{ cours.nom }}
                    </a>
                    <p class="uv_description">{{ cours.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
