{% extends 'cours/base_cours.html.twig' %}
{% set nav = 'notes' %}

{% block cours_content %}
    <h1 class="text-center p-3">Saisir les Notes</h1>

    <div>
        <label for="evaluationName">Nom de l'évaluation :</label>
        <input type="text" id="evaluationName" placeholder="Entrez le nom de l'évaluation">
    </div>

    <div>
        <label for="maxGrade">Barème :</label>
        <input type="number" id="maxGrade" placeholder="Entrez le barème" min="1">
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            {% if participant.utilisateur.getRoleByIndex == "ROLE_ELEVE" %}
                <tr>
                    <td>{{ participant.utilisateur.nom }}</td>
                    <td>{{ participant.utilisateur.prenom }}</td>
                    <td>
                        <input type="number" class="gradeInput" min="0" data-user-id="{{ participant.utilisateur.id }}">
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">Aucun participant inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Bouton pour enregistrer des notes. On trensmet le code du cours -->
    <button id="saveNotes" data-code="{{ cours.code }}">Enregistrer les Notes</button>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Inclusion du fichier CSS -->
    <link rel="stylesheet" href="{{ asset('styles/note.css') }}">
{% endblock %}

{% block cours_scripts %}
    <!-- Chargement du js-->
    <script src="{{ asset('scripts/note.js') }}"></script>
{% endblock %}
