{% extends 'cours/base_cours.html.twig' %}

{% block cours_content %}
    <h2>Modifier l'examen {{ examen.titre }}</h2>

    <form id="modifierExamenForm">
        <div class="mb-3">
            <label for="examTitle" class="form-label">Titre de l'examen</label>
            <input type="text" id="examTitle" class="form-control" value="{{ examen.titre }}">
        </div>

        <div class="mb-3">
            <label for="examBareme" class="form-label">Barème</label>
            <input type="number" id="examBareme" class="form-control" value="{{ examen.bareme }}">
        </div>

        <h3>Notes des étudiants</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.utilisateur.prenom }} {{ note.utilisateur.nom }}</td>
                    <td><input type="number" class="gradeInput" data-note-id="{{ note.id }}" value="{{ note.note }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Enregistrer</button>

    </form>
{% endblock %}
