{% extends 'cours/base_cours.html.twig' %}

{% set nav = 'participants' %}

{% block cours_content %}
    <span class="add">
        <a href="{{ path('ajouter_participant') }}" class="ajouter_participant">New participant</a>
    </span>

    <div class="participant_container">
        {% for participant in participants %}
            <div class="participant">
                <div class="pic">
                    <img src="{{ asset('images/bombardino.jpg') }}" alt="Placeholder"/>
                </div>
                <a href="#href" class="name">{{ participant.name }}</a>
                <div class="role">{{ participant.role }}</div>
                <div class="group">{{ participant.group }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
